//colors pallete image one
$color1: #10282f;
$color2: #f8f7ec;
$color3: #f2df13;
$color4: #048aa5;
$color5: #959211;
$color6: #eecf70;
$color7: #1c7379;
$color8:  #78681e;
//colors pallete image two
$color9: #e3d9a8;
$color10: #988138;
$color11: #8792a4;
$color12: #a8acae;
$color13: #4a505d;
$color14: #64696e;
$color15:  #484a4c;
//colors pallete image three
$color16: #d8cd97;
$color17: #786961;
$color18:  #504e4d;
$color19: #a05e3a;
$color20: #7f929e;
$color21:  #929da3;
$color22:#576973;
$color71:rgb(39, 141, 148);