@import "../Variables/variables.scss";
.NavHome {

  .Nave {
    //  background-color: rgba(0, 0, 0, 0.822);
    background-color: $color12;
    // background-color: $color1;
    padding: 10px 30px;
    .texts {
      font-size: 19px;
    }
    .dropdown-menu {
      min-width: 3em;
    }
  }
  img {
    width: 8%;
    height: 10vh;
    border-radius: 50%;
    @media (max-width: 668px) {
        width: 12%;
    height: 5vh; 
    }
  }
}
